name: Delegated Compute

on:
  workflow_dispatch:
    inputs:
      stateId:
        required: true
      eventName:
        required: true
      eventPayload:
        required: true
      settings:
        required: true
      authToken:
        required: true
      ref:
        required: true
      signature:
        required: true
      command:
        required: true

jobs:
  run:
    runs-on: ubuntu-latest
    permissions: write-all
    environment: ${{ github.ref == 'refs/heads/main' && 'main' || 'development' }}

    steps:
      - uses: actions/checkout@v4

      - name: Calling action
        uses: ./
        env:
          PLUGIN_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KERNEL_PUBLIC_KEY: ${{ secrets.KERNEL_PUBLIC_KEY }}
